
:root{
    --white-color: white;
    --black-color: #000000;
    --darkPurple-color: #41415b;
    --mediumPurple-color:#5a4c59;
    --medium-color:#8b7e75;
    --cream-color:#e7dfdb;
    --gold-color:#b78838;
    --fontFamily: 'Poppins';
  
  }

.container{
    margin-top: 180px;
    margin-bottom: 80px;
  }

  .col{
    margin: 10px;
  }
  .card img:hover{
    opacity:0.60;
    filter:alpha(opacity=60);
    -webkit-backface-visibility:hidden;
}
.colorST{
    color: var(--gold-color) !important;
    text-align: center;
    font-size: 25px;
    font-weight: 900;

}
.modal-content{
    margin-top: 20px;
    background-color: var(--darkPurple-color) !important;
    
}

.row{
    margin-left: 10px;
    margin-right: 10px;
}

.imgAmp{
    
    display:block;
    margin:auto;
    width: 50%;
}
.btn-close{
   background-color: var(--cream-color);
}
