.container{
    margin-top: 180px;
    margin-bottom: 80px;
  }

  .col{
    margin: 10px;
  }
  .card img:hover{
    opacity:0.60;
    filter:alpha(opacity=60);
    -webkit-backface-visibility:hidden;
}
.colorST{
    color: #b78838 !important;
    text-align: center;
    font-size: 25px;
}

.row{
    margin-left: 10px;
    margin-right: 10px;
}

.imgAmp{
    display:block;
    margin:auto;
    width: 70%;
}

.closed{
    background-color: red;
}
